<%- include("../partials/header")-%>
    <section class="page home">
        <div class="wrapper">
            <div class="container">
                <div class="title"><h3>Available Products</h3></div>
                <div class="products"></div>
            </div>
        </div>
        <a href="#" class="float-action add-product">
            <span class="material-icons">
                add
            </span>
        </a>
        <a href="#" class="float-action show-cart">
            <span class="material-icons">
                shopping_cart
            </span>
        </a>
        <a href="#" class="float-action show-messenger">
            <span class="material-icons">
                question_answer
            </span>
        </a>
    </section>
<%- include("../partials/footer")-%>