<%- include("../partials/header")-%>
    <section class="page gateway">
        <div class="wrapper">
            <div class="container signin">
                <span class="material-icons" style="font-size:84px;color:#408282">
                    lock
                </span>
                <h1>Sing In</h1>
                <form action="">
                    <input id="username" name="" type="text" placeholder="Username">
                    <input id="password" name="" type="password" placeholder="Password">
                    <button type="submit" id="signin-submit-button">Go to the store</button>
                </form>
                <div class="links">
                    <a href="/signup">Don't have an account yet?</a>
                </div>
            </div>
        </div>
    </section>
<%- include("../partials/footer")-%>