<%- include("../partials/header")-%>
    <section class="page signin-page">
        <div class="wrapper">
            <div class="container">
                <span class="material-icons" style="font-size:84px;">
                    account_circle
                </span>
                <form action="">
                    <input id="username" name="" type="text" placeholder="Username">
                    <input id="password" name="" type="password" placeholder="Password">
                    <button type="submit" id="login-button">Login</button>
                </form>
            </div>
        </div>
        <div id="snackbar">Some text some message..</div>
    </section>
<%- include("../partials/footer")-%>