<%- include("../partials/header")-%>
    <section class="page gateway ">
        <div class="wrapper">
            <div class="container signup">
                <span class="material-icons" style="font-size:84px;color:#d0c6b3">
                    account_circle
                </span>
                <h1>Create Account</h1>
                <h3>Please sign-up to continue</h3>
                <form id="signup">
                    <input id="name" name="name" type="text" placeholder="Name">
                    <input id="lastname" name="lastname" type="text" placeholder="Lastname">
                    <input id="birthday" name="birthday" type="date" placeholder="Birthday">
                    <input id="avatar" name="avatar" type="file" placeholder="Profile Picture">
                    <input id="phone" name="phone" type="tel" placeholder="Phone">
                    <input id="email" name="email" type="email" placeholder="Email">
                    <input id="address" name="address" type="text" placeholder="Address">
                    <input id="registration-password" name="password" type="password" placeholder="Password">
                    <input id="confirm-passwword" name="confirm" type="password" placeholder="Confirm Password">
                    <button type="submit" id="signup-submit-button">Signup</button>
                    <p>By clicking Signup, you agree to our <a style="text-decoration: none; font-weight: bold;" href="#">Terms and Conditions</a> and <a style="text-decoration: none;font-weight: bold;" href="#">Privacy Statement</a></p>
                </form>
                <div class="links">
                    <a href="/signin">Already have an account?</a>
                </div>
            </div>
        </div>
    </section>
<%- include("../partials/footer")-%>