<%- include("../partials/header")-%>
    <section class="page gateway">
        <div class="wrapper">
            <div class="container signin">
                <span class="material-icons" style="font-size:84px;color:#d0c6b3">
                    lock
                </span>
                <h1>Welcome Back</h1>
                <h3>Please sign-in to continue</h3>
                <form id="signin">
                    <input id="username" name="username" type="text" placeholder="Username">
                    <input id="password" name="password" type="password" placeholder="Password">
                    <button type="submit" id="signin-submit-button">Signin</button>
                </form>
                <div class="links">
                    <a href="/signup">Don't have an account yet?</a>
                </div>
            </div>
        </div>
    </section>
<%- include("../partials/footer")-%>