        <footer>
            <div id="overlay">
                <div class="popup" id="product-popup"></div>
                <div class="popup" id="cart-popup"></div>
                <div class="popup" id="messenger-popup"></div>
            </div>
            <div id="snackbar">
                <p></p>
            </div>
        </footer>
    </body>
</html>