        <footer>
            <div id="overlay">
                <div class="popup" id="account-popup"></div>
                <div class="popup" id="product-popup"></div>
                <div class="popup" id="cart-popup"></div>
                <div class="popup" id="messenger-popup"></div>
                <div id="go-back-btn">
                    <span class="material-icons-outlined">
                        cancel
                    </span>
                </div>
            </div>
            <div id="snackbar">
                <p></p>
            </div>
        </footer>
    </body>
</html>