        <footer>
            <div id="overlay">
                <div class="pop-up" id="account-pop-up"></div>
                <div class="pop-up" id="product-pop-up"></div>
                <div class="pop-up" id="cart-pop-up"></div>
                <div class="pop-up" id="messenger-pop-up"></div>
                <div id="go-back-btn">
                    <span class="material-icons-outlined">
                        cancel
                    </span>
                </div>
            </div>
            <div id="snackbar">
                <p></p>
            </div>
        </footer>
    </body>
</html>