        <footer>
            <div id="overlay">
                <div id="pop-up">
                    <%- include("./account") -%>
                    <%- include("./stock") -%>
                    <%- include("./cart") -%>
                    <%- include("./messenger") -%>
                </div>
                <div id="go-back-btn">
                    <span class="material-icons-outlined">
                        cancel
                    </span>
                </div>
            </div>
            <div id="snackbar">
                <p></p>
            </div>
        </footer>
    </body>
</html>